<%= turbo_frame_tag "total_amount" do %>
  <div>
    <% #TODO: 後で、ユーザーに紐づく total_amount を表示する %>
    <%= total_amount %>
  </div>

  <div>
    <% #TODO: 後で、ユーザーに紐づく total_amount を表示する %>
    <%= total_amount %>
  </div>
<% end %>
