<div class="flex justify-between items-center">
  <h1 class="mb-4 text-3xl font-black">Payments</h1>
  <%= link_to "New payment",
              new_payment_path,
              class: "bg-indigo-500 text-white px-4 py-2 border rounded-md hover:bg-white hover:border-indigo-500 hover:text-black",
              data: { turbo_frame: "new_payment" }
  %>
</div>


<div class="flex flex-row">
  <p class="flex-1">Paid at</p>
  <p class="flex-1">Amount</p>
  <p class="flex-1">Kind</p>
  <p class="flex-1">Name</p>
  <p class="flex-1">Note</p>
  <p class="flex-1"></p>
</div>

<%= turbo_frame_tag "new_payment" %>
<div id="payments">
  <%= render @payments %>
</div>
